/***** NAVBAR *****/
.navbar-default {
  background-color: #b84700;
  border-radius: 1;
  background-image: none;
}

/* Navbar title */
.navbar-default .navbar-brand {
  color: #000000;
  font-size: 20px;
  font-weight: bold;
}

/* Navbar hover effects */
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ebd122;
}

/* Navbar links */
.navbar-default .navbar-nav > li > a {
  color: white;
  font-size: 16px;
}

/* Navbar collapsed styles */
.navbar-header .navbar-toggle {
  color: white;
}

.navbar-header .navbar-toggle:hover,
.navbar-header .navbar-toggle:focus {
  background-color: #ebd122;
  color: #242424;
}

/*** Portfolio pieces ***/
.portfolio-thumbnail {
  background-color: white;
  border-color: #b84700;
  border-width: 2px;
  width: 95%;
}

.portfolio-thumbnail:hover {
  border-color: #ebd122;
}

.portfolio-title {
  font-weight: bold;
}

.portfolio-description {
}

.portfolio-image {
}

#about-world {
  max-height: 200px;
}

.resume h3 {
  font-weight: bold;
}

hr {
  border-color: #000000;
  border-width: 2px;
}

p {
  font-size: 20px;
}

b  {
  font-size: 20px;
  color: #b84700
}

a {
  color: #b84700;
}

a:hover {
  color: #ebd122;
}

.jumbotron {
  text-align: center;
  color: #fff;
  padding: %;
}

.jumbotron h2 {
  font-size: 36px;
  font-weight: bold;
  color: black
}


html, body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto Condense d', sans-serif;
}

.leaflet-popup-content p {
    margin: 0.2em 0;
}

#fires {
    color: "#8900ff";
    outline-color: "#000";
    outline-width: medium;
    opacity: 1;
}

#map {
    height: 80%;
    width: 80%;
    float: left;
}

#dropdown {
    float: left;
    margin-left: 1%;
    width: 18%;
}

    #dropdown select {
        width: 100%;
    }

    #dropdown fieldset {
        border-color: #ccc;
    }

#panel {
    width: 80%;
    clear: both;
}

    #panel .range-slider {
        width: 90%;
    }

    #panel #reverse {
        float: left;
    }

    #panel #forward {
        float: right;
    }
